# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml


# virtualenv
venv/


# Pycharm project files
.idea


# SqlLite3
db.sqlite3

#Byte-comiled / optimized / DLL files
*$py.class
__pycache__/