{% extends 'base.html' %}

{#{% block js_base %}#}
{#<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>#}
{#    <script src="{{ url_for('static', filename='js/js.js') }}"></script>#}
{#{% endblock %}#}

{% block title %}whiteboard{% endblock %}
{#    <canvas class="whiteboard"></canvas>#}
{% block content %}
    <div id="drawing-controls">
        <label for="draw-width" class="drawing-controls">Brush Width:</label>
        <input id="draw-width" type="number" value="2" class="drawing-controls">
        <span></span>
        <label for="color-select" class="drawing-controls">Color:</label>
        <select id="color-select" class="drawing-controls">
            <option>black</option>
            <option>gray</option>
            <option>white</option>
            <option>red</option>
            <option>orange</option>
            <option>yellow</option>
            <option>green</option>
            <option>blue</option>
            <option>purple</option>
            <option>brown</option>
        </select>
        <span></span>
        <label for="shape-select" class="drawing-controls">Shape:</label>
        <select id="shape-select" class="drawing-controls">
            <option>Free Hand</option>
            <option>Straight Line</option>
            <option>Rectangle</option>
            <option>Triangle</option>
            <option>Ellipse</option>
            <option>Insert Image</option>
        </select>
        <span></span>
        <label for="image-input" class="drawing-controls">Upload: </label>
        <input type="file" id="image-input" accept = "image/*">
        <span></span>
        <label for="width-control" class="drawing-controls">Canvas Width: </label>
        <input id="width-control" type="number" class="drawing-controls">
        <span></span>
        <label for="height-control" class="drawing-controls">Canvas Height: </label>
        <input id="height-control" type="number" class="drawing-controls">
        <span></span>
        <button id="resize-button">Change</button>
    </div>
    <canvas id="display" class="whiteboard"></canvas>
    <canvas id="preview" class="whiteboard"></canvas>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/js.js') }}"></script>

{% endblock %}