<!DOCTYPE html>
<head>
    <!-- Basic -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Site Metas -->
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Collaboarating</title>
    <!-- bootstrap core css -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css') }}" />
    <!-- progress barstle -->
    <link rel="stylesheet" href="static/css/css-circular-prog-bar.css" />
    <!-- fonts style -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet" />
    <!-- font wesome stylesheet -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" />
    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" />
    <!-- responsive style -->
    <link href="{{ url_for('static', filename='css/responsive.css') }}" rel="stylesheet" />
    <link rel="stylesheet" href="static/css/css-circular-prog-bar.css" />
</head>

<title>{% block title %}{% endblock %} - Collaboarating</title>

<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
{% block navbar %}
    <div class="top_container sub_pages">
        <!-- header section strats -->
        <header class="header_section">

                <! -- -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- >
            <nav class="navbar navbar-expand-lg bg-info">
                <div class="container-fluid">

                 <a href="#" class="navbar-brand">
                     <img src="/static/images/logo.png" alt="CollabLogo">
                     Collaboarating
                 </a>
                    <ul class="nav">
                        <li class="nav-item">
                            <a class="nav-link" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('whiteboard.index') }}">Whiteboard</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('chat.chatwindow') }}">Chat</a>

                        </li>
{#                        <li class="nav-item">#}
{#                            <a class="nav-link" href="{{ url_for('forum.forumposts') }}">Forum</a>#}
{#                        </li>#}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('auth.register') }}">Register</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('auth.login') }}">Login</a>
                        </li>
                    </ul>
                </div>

            <! --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->
            </ul>
            </nav>

        </header>
    </div>
{% endblock %}
                                        <!-- end header section -->



<section class="content">
    <header>
        {% block header %}{% endblock %}
    </header>
    {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
    {% endfor %} {% block content %}{% endblock %}
</section>

{% block js_base %}
<script type="text/javascript" src={{ url_for("static", filename="js/jquery-3.4.1.min.js") }}></script>
<script type="text/javascript" src={{ url_for("static", filename="js/bootstrap.js") }}></script>

{% endblock %}