<!DOCTYPE html>
<head>
    <!-- Basic -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Site Metas -->
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Collaboarating</title>
    <!-- bootstrap core css -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css') }}" />
    <!-- progress barstle -->
    <link rel="stylesheet" href="static/css/css-circular-prog-bar.css" />
    <!-- fonts style -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet" />
    <!-- font wesome stylesheet -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" />
    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" />
    <!-- responsive style -->
    <link href="{{ url_for('static', filename='css/responsive.css') }}" rel="stylesheet" />
    <link rel="stylesheet" href="static/css/css-circular-prog-bar.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>

<title>{% block title %}{% endblock %} - Collaboarating</title>

<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
{% block navbar %}
    <div class="top_container sub_pages">
        <!-- header section strats -->
        <header class="header_section">

                <! -- -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- >
            <nav class="navbar navbar-expand-lg bg-info">
                <div class="container-fluid">

                 <a href="#" class="navbar-brand">
                     <img src="/static/images/logo.png" alt="CollabLogo">
                     Collaboarating
                 </a>
                    <ul class="nav">
                        <li class="nav-item">
                            <a class="nav-link" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('whiteboard.index') }}">Whiteboard</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('chat.chatwindow') }}">Chat</a>

                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('forum.forumposts') }}" style="color: yellow;">Forum</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('auth.register') }}">Register</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('auth.login') }}">Login</a>
                        </li>
                    </ul>
                </div>

            <! --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->
            </ul>
            </nav>

        </header>
    </div>
{% endblock %}
                                        <!-- end header section -->
<body>
    <div class="top-bar">
        <h1 style="text-align: center;">
            Submit a Forum Post
        </h1>
    </div>
    <div class="main">
        <form method="post">
        <input type="text" name="post_username" id="post_username" placeholder="Username" style="height:20px; width:150px;" required>
        <br />
        <input type="text" name ="post_title" id=post_title" placeholder="Thread title" style="height:20px; width:300px; margin-top:5px;" required>
        <br />
        <textarea id="post_text" name="post_text" placeholder="Forum Text..." style="margin-top:5px; height:100px; width:300px;" required></textarea>
            <br />
        <input type="submit" id="postBtn">
        </form>
        <br />
        <a href="forumposts" class="button">Back to main</a>
    </div>
    <style>
        .button{
        border-radius: 3px;
        border: 2px solid;
        background-color: white;
        }
        .post {
        margin: 10px;
        margin-left:0px;
        }
        .name
        {
        margin-right:5px;
        }
        a {
            text-decoration: none;
            color: black;
        }
        .top-bar {
            background-color: lightgrey;
            padding: 0 40px;
        }
        .main {
            background-color: #ffffff;
            padding: 10px 15px;
            margin: 10px 60px;
        }
    </style>
</body>
</html>